<h1>Login</h1>

<form action="/login" method="POST">
    <label>Username: <input id="username" type="text" name="username"></label><br>
    <label>Password: <input id="password" type="text" name="password"></label><br>

    <input id="submit" type="submit">
</form>