<h1>New User Registration</h1>

<form action="/register" method="POST">
    <label>Username: <input type="text" id="username" name="username"></label><br>
    <label>Email: <input type="text" id="email" name="email"></label><br>
    <label>Password: <input type="password" id="password" name="password"></label><br>

    <input type="submit">
</form>