<title>VGC: Home</title>

<h1>Welcome to VGC!</h1>

<%if !(Helpers.is_logged_in?(session))%>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
<%else%>
    <a href="/logout">Logout</a>
<%end%>


<h3>What games our users have been adding to their libraries:</h3>
Fill me out later!